.thumbnail{
	max-width: 300px;
	border: none;
}

body {
	background-image: url("images/bkg.jpg");
}
.container{
	background: white;
}
#logos {
	max-width: 50px;
}
input[type=text], select {
	width: 100%;
	padding: 12px 12px 12px 12px;
	margin: 0px;
	display: inline-block;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	background: white;
	color: grey;
}
#message{
	width: 100%;
	height: 300px;
}
input[type=submit]{
	width: 120px;
	height: 50px;
}
#myName {
	background-color: #4AAAA5;
	margin-left: 75px;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: white;
}

#about {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 10px 30px 10px;
}

#portfolio{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 10px 30px 10px;
}

#contact{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #9F9DA7;
	float: right;
	padding: 30px 220px 30px 10px;
}
h1 {
	margin: 25px 25px 0px 25px;
	padding: 0px 0px 40px 0px;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #4AAAA5;
	border-bottom: solid lightgrey;
}